#principal{

  color: #2c3e50 ;
}

.parr{

  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  
}
.cat{

  color: #e67e22;
  
}

.pas{

  color: #e67e22;

}

.dej{

  color: #e67e22;
}




.ciclismo {

  color: red;
}

.mont{

  color: red;
}

.ruta{

  color: red;
}

.urban{

  color: red;
}

.elec{

  color: red;
}
